# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 345aedf2a2d74ba302bca6520ddd65ab8a019c2831909180d7381375ca150bdd22821c3370eec87dc65436542ef9e69b8eb56cc2fe9103748244e28169c38f0b

test:
  secret_key_base: d408adb150209f0f8039a5ec9a2b4f03517c5cfcaef260926d406255b50fe8806a35acecc552e4a6f47102d12cb8674d44973ba8ecad553a092f976b64b041c2

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
