/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require PixelAdmin/bootstrap.min
 *= require PixelAdmin/pixel-admin.min
 *= require PixelAdmin/widgets.min
 *= require PixelAdmin/rtl.min
 *= require PixelAdmin/themes.min
 *= require PixelAdmin/pages.min
 */

@import 'animation';
@import 'font-awesome';

html, body {
  height: 100%;
  margin:0;
  padding:0;
}

.container {
  height: 100%;
  max-width: 550px;

  position: relative;
}

.widget-chat {
  height: 100%;
  margin-bottom: 0;

  .panel-body {
    height: 86%;
    overflow: auto;

    position: relative;
    .wait_user {
      width: 100%;
      position: absolute;
      bottom: 10px;
      text-align: center;
      margin: auto -20px;
      padding: 5px 0;

      color: #31708f;
      background-color: #d9edf7;
      border-color: #bce8f1;
    }
  }

  .message .message-body {
    margin-left: 0;
    margin-right: 40%;
  }

  .message.right .message-body {
    margin-right: 0;
    margin-left: 40%;
  }

  .message.leave {
    .message-text {
      background: #FFCDD2;
      color: #C62828;

      &:before { border-color: transparent #FFCDD2 transparent transparent; }
    }
  }

  button.leave { float: left;}
  .chat-controls-input { margin-left: 55px; }
}

.main {
  position: absolute;
  top: 0;

  width: 100%;
  height: 100%;
  margin: 0 -11px;
  padding: 0 11px;

  // color 50 by Google color
  background-color: #E8F5E9;

  .header {
    padding: 10% 0;

    .logo img {
      width: 60%; height: 60%;
    }
  }

  .content {
    .title {
      // color 500 by Google color
      color: #4CAF50;
      font-size: 50px;
    }

    hr {
      border-width: 2px;

      // color 100 by Google color
      border-color: #BBDEFB;
      border-color: #C8E6C9;
    }

    .slogan {
      // color 400 by Google color
      color: #66BB6A;
    }

    .start_chat {
      padding-top: 50px;
      .btn {
        width: 80%;
        padding: 3%;
      }
    }
  }

  .footer {
    height: 50px;
    margin-top: 30px;

    // color 300 by Google color
    color: #81C784;
  }

  &.hide_by_transform {
    transform: translate(0px, -100%);
  }
}
